body {
  background-color: #f5f5f5;
}

.fl {
  float: left;
}

.fr {
  float: right;
}

.row {
  width: 96%;
  margin: 0 2%;
}

.header {
  width: 100%;
}

.nav {
  width: 100%;
  height: 40px;
  background-color: #333;
}
.nav-line {
  margin: 0 auto;
}
.nav li {
  float: left;
  cursor: pointer;
  margin: 0 6px;
  color: #b0b0b0;
  font-size: 12px;
  line-height: 40px;
  text-align: center;
}
.nav li a {
  color: inherit;
}
.nav li:hover a {
  color: #fff;
}
.nav p {
  display: block;
  color: #424242;
  float: left;
  line-height: 40px;
}
.nav .shop {
  position: relative;
  background-color: #424242;
  height: 40px;
  color: #fff;
}
.nav .shop span {
  margin: 0 5px;
}
.nav .shop div {
  position: absolute;
  width: 316px;
  height: 0px;
  top: 39px;
  right: 0px;
  text-align: center;
  line-height: 100px;
  overflow: hidden;
  background-color: #fff;
  box-shadow: 0px 1px 5px 0px #b0b0b0;
  z-index: 1;
  transition: all 0.6s;
}
.nav .shop i {
  font-weight: 700;
  font-size: 20px;
  margin: 0 5px;
  position: relative;
  bottom: -5px;
}
.nav .shop:hover {
  background-color: #fff;
  color: #ff6700;
}
.nav .shop:hover div {
  height: 100px;
}

.big-nav {
  height: 100px;
  position: relative;
  align-items: center;
  line-height: 100px;
}
.big-nav-left {
  float: left;
  margin-top: 23px;
}
.big-nav-left div {
  width: 55px;
  height: 55px;
  background-color: #ff6700;
}
.big-nav-left div img {
  width: 100%;
  height: 100%;
}
.big-nav-center {
  font-size: 16px;
  margin-left: 80px;
}
.big-nav-center ul {
  overflow: hidden;
  float: left;
  margin-left: 170px;
}
.big-nav-center ul li {
  float: left;
}
.big-nav-center ul li a {
  color: #222;
  margin: 0 10px;
}
.big-nav-center ul li a:hover {
  color: #ff6700;
}
.big-nav-center ul li:hover .big-nav-list {
  height: 230px;
  border-top: 1px solid #E0E0E0;
  border-bottom: 1px solid #E0E0E0;
  z-index: 1;
}
.big-nav-center ul li .big-nav-list {
  background-color: #fff;
  width: 100%;
  height: 0px;
  position: absolute;
  left: 0px;
  top: 100px;
  transition: all 0.5s;
  overflow: hidden;
}
.big-nav-center ul li ul {
  margin: 0 2%;
}
.big-nav-center ul li ul li {
  position: relative;
  float: left;
  padding: 35px 18.5px 0 18.5px;
  text-align: center;
}
.big-nav-center ul li ul li p {
  position: relative;
  top: -25px;
  height: 20px;
  line-height: 20px;
  font-size: 12px;
}
.big-nav-center ul li ul li .price {
  color: #ff6700;
}
.big-nav-center ul li ul li + li::before {
  content: "";
  width: 1px;
  height: 100px;
  background: #E0E0E0;
  display: block;
  position: absolute;
  top: 50%;
  left: 0px;
  margin-top: -50px;
}
.big-nav-right {
  margin-top: 23px;
  float: right;
  position: relative;
  line-height: 50px;
}
.big-nav-right:hover input {
  border-color: #666;
}
.big-nav-right:hover .search-logo {
  border-color: #666;
}
.big-nav-right .search {
  width: 296px;
  height: 50px;
}
.big-nav-right .search-info {
  position: absolute;
  right: 55px;
  top: 17px;
  outline: none;
  border: none;
}
.big-nav-right .search-info a {
  cursor: pointer;
  padding: 0 3px;
  display: block;
  font-size: 12px;
  height: 20px;
  line-height: 20px;
  float: left;
  background-color: #d0d0d0;
  color: #333;
  margin-right: 10px;
}
.big-nav-right .search-logo {
  position: absolute;
  text-align: center;
  line-height: 48px;
  border: 1px solid #c2c2c2;
  top: 0px;
  right: 0px;
  width: 50px;
  height: 50px;
}
.big-nav-right .search-logo span {
  font-size: 20px;
  font-weight: 900px;
}
.big-nav-right .search-list {
  position: absolute;
  top: 51px;
  left: 0px;
  width: 243px;
  border: 1px solid #ff6700;
  cursor: pointer;
  display: none;
  background-color: #fff;
  z-index: 1;
}
.big-nav-right .search-list li {
  box-sizing: border-box;
  font-size: 12px;
  color: #424242;
  width: 100%;
  height: 30px;
  line-height: 30px;
  padding: 0 15px;
}
.big-nav-right .search-list li:hover {
  background-color: #fafafa;
}
.big-nav-right input {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 245px;
  height: 52px;
  outline: none;
  border: 1px solid #c2c2c2;
}
.big-nav-right input:focus {
  border: 1px solid #ff6700;
}
.big-nav-right input:focus + .search-logo {
  border: 1px solid #ff6700;
}
.big-nav-right input:focus ~ .search-info {
  display: none;
}
.big-nav-right input:focus ~ .search-list {
  display: block;
}

#main {
  width: 100%;
}
#main .banner {
  height: 100%;
  position: relative;
}
#main .banner .banner-img {
  width: 100%;
  height: 100%;
}
#main .banner-left {
  position: absolute;
  top: 0;
  left: 0;
  float: left;
  width: 230px;
  height: 460px;
  background-color: rgba(88, 86, 86, 0.4);
}
#main .banner-left ul {
  padding: 10px 0;
}
#main .banner-left ul li {
  width: 100%;
}
#main .banner-left ul li a {
  position: relative;
  box-sizing: border-box;
  display: inline-block;
  width: 100%;
  padding-left: 40px;
  height: 44px;
  line-height: 44px;
  font-size: 14px;
  color: #fff;
}
#main .banner-left ul li a span {
  display: inline-block;
  position: absolute;
  right: 25px;
  width: 15px;
  height: 15px;
  top: 0px;
  color: #fff;
}
#main .banner-left ul li:hover {
  background-color: #ff6700;
  cursor: pointer;
}
#main .banner-left ul li:hover .banner-left-list {
  display: block;
}
#main .banner-left ul li .banner-left-list {
  position: absolute;
  top: 0px;
  left: 230px;
  height: 460px;
  background-color: #fff;
  box-shadow: 1px 1px 3px 1px #b0b0b0;
  display: none;
}
#main .banner-left ul li .banner-left-list ul {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 0px;
  width: 100%;
  height: 100%;
}
#main .banner-left ul li .banner-left-list ul li {
  height: 76px;
  width: 250px;
  line-height: 76px;
}
#main .banner-left ul li .banner-left-list ul li a {
  padding-left: 20px;
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  color: #000;
}
#main .banner-left ul li .banner-left-list ul li a:hover {
  color: #ff7600;
}
#main .banner-left ul li .banner-left-list ul li:hover {
  background-color: #fff;
}
#main .banner-left ul li .banner-left-list:hover {
  display: block;
}
#main .banner-last {
  position: absolute;
  top: 195px;
  left: 230px;
  background: url(../image/icon-slides.png) no-repeat -84px 0px;
  width: 41px;
  height: 69px;
  cursor: pointer;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}
#main .banner-last:hover {
  background: url(../image/icon-slides.png) no-repeat 0px 0px;
}
#main .banner-next {
  position: absolute;
  top: 195px;
  right: 0px;
  background: url(../image/icon-slides.png) no-repeat -124px 0px;
  width: 41px;
  height: 69px;
  cursor: pointer;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}
#main .banner-next:hover {
  background: url(../image/icon-slides.png) no-repeat -42px 0px;
}
#main .banner-dots {
  position: absolute;
  right: 40px;
  bottom: 20px;
}
#main .banner-dots li {
  float: left;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  border: 2px solid #424242;
  background-color: rgba(0, 0, 0, 0.4);
  margin: 3px;
  cursor: pointer;
}
#main .banner-dots li:hover {
  border-color: #fff;
  background-color: rgba(255, 255, 255, 0.4);
}

.banner-left-list1 {
  width: 250px;
}

.banner-left-list2 {
  width: 500px;
}

.banner-left-list3 {
  width: 750px;
}

.banner-left-list4 {
  width: 1000px;
}

.recommend {
  margin-top: 15px;
  overflow: hidden;
}
.recommend-left {
  float: left;
  width: 234px;
  margin-left: 4px;
}
.recommend-left ul {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  position: relative;
  padding: 3px;
}
.recommend-left ul li {
  box-sizing: border-box;
  text-align: center;
  position: relative;
  width: 74px;
  height: 82px;
  padding: 3px;
  background-color: #665e57;
}
.recommend-left ul li a {
  display: inline-block;
  width: 100%;
  padding-top: 18px;
  color: #fff;
  opacity: 0.7;
  font-size: 12px;
  transition: opacity .2s;
}
.recommend-left ul li a img {
  width: 24px;
  height: 24px;
  margin: 0 4px 4px 4px;
}
.recommend-left ul li a:hover {
  opacity: 1;
}
.recommend-left ul li::before {
  content: "";
  width: 64px;
  height: 0.5px;
  left: 5px;
  position: absolute;
  top: 77px;
  background-color: #e3e3e3;
  opacity: 0.1;
}
.recommend-left ul li::after {
  content: "";
  width: 0.5px;
  height: 70px;
  right: 76px;
  position: absolute;
  top: 2px;
  background-color: #e3e3e3;
  opacity: 0.1;
}
.recommend-right {
  float: right;
}
.recommend-right li {
  width: 316px;
  float: left;
  margin-left: 15px;
}
.recommend-right li img {
  width: 100%;
}

.brink {
  margin-top: 30px;
  overflow: hidden;
}
.brink-top {
  margin-top: 40px;
  overflow: hidden;
  margin-bottom: 10px;
}
.brink-top h2 {
  font-size: 25px;
  font-weight: 200;
  float: left;
}
.brink-top a {
  float: right;
  color: #000;
  line-height: 30px;
  font-size: 16px;
}
.brink-top a span {
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #aaa;
  font-size: 16px;
  color: #fff;
  line-height: 20px;
  text-align: center;
  margin-left: 5px;
  transition: all 0.7;
}
.brink-top a:hover {
  color: #ff6700;
}
.brink-top a:hover span {
  background-color: #ff6700;
}
.brink-box-left {
  width: 234px;
  float: left;
}
.brink-box-left .left-img a {
  display: block;
  transition: all 0.3s;
}
.brink-box-left .left-img a:hover {
  transform: translate(0px, -2px);
}
.brink-box-right {
  width: 998px;
  float: right;
}
.brink-box-right li {
  width: 234px;
  background-color: #fff;
  float: left;
  margin-left: 15px;
  margin-bottom: 15px;
  padding: 20px 0;
  transition: all 0.3s;
}
.brink-box-right li a {
  display: inline-block;
  width: 100%;
  text-align: center;
  color: #000;
}
.brink-box-right li a .shop-img {
  width: 160px;
  margin: 0 auto 18px;
}
.brink-box-right li a .shop-img img {
  width: 100%;
}
.brink-box-right li a .shop-title {
  font-size: 14px;
  margin: 0 auto 1px;
}
.brink-box-right li a .shop-info {
  font-size: 12px;
  color: #b0b0b0;
  margin: 0 auto 5px;
}
.brink-box-right li a .shop-price {
  color: #ff6700;
  margin: 0 auto 10px;
}
.brink-box-right li a .shop-price s {
  color: #aaa;
}
.brink-box-right li:hover {
  transform: translate(0, -2px);
  box-shadow: 0px 2px 5px 0px #aaa;
}

#footer {
  margin-top: 30px;
}
#footer .footer {
  overflow: hidden;
  background-color: #fff;
}
#footer .footer-top {
  overflow: hidden;
}
#footer .footer-top ul li {
  float: left;
  padding: 15px 48px;
  font-size: 18px;
  color: #424242;
  overflow: hidden;
  border-bottom: 1px solid #e4e4e4;
}
#footer .footer-top ul li .iconfont {
  position: relative;
  top: 3px;
  font-size: 27px;
}
#footer .footer-top ul li + li::before {
  display: inline-block;
  content: "";
  width: 1px;
  height: 30px;
  position: relative;
  top: 10px;
  right: 48px;
  background-color: #e4e4e4;
}
#footer .footer-center {
  overflow: hidden;
  padding: 40px 0;
}
#footer .footer-center-left {
  float: left;
}
#footer .footer-center-left dl {
  float: left;
  width: 160px;
}
#footer .footer-center-left dl dt {
  font-size: 14px;
  margin-bottom: 25px 0;
}
#footer .footer-center-left dl dd {
  font-size: 12px;
  color: #b0b0b0;
  margin-top: 10px;
  cursor: pointer;
}
#footer .footer-center-left dl dd:hover {
  color: #ff6700;
}
#footer .footer-center-right {
  float: right;
  border-left: 1px solid #e3e3e3;
  text-align: center;
  font-size: 12px;
  color: #b0b0b0;
  padding: 0 60px;
}
#footer .footer-center-right .tel {
  color: #ff6700;
  font-size: 22px;
}
#footer .footer-center-right .tel-price {
  margin-bottom: 10px;
}
#footer .footer-center-right .server {
  width: 120px;
  height: 30px;
  border: 1px solid #ff6700;
  line-height: 30px;
  margin: auto;
}
#footer .footer-center-right .server span {
  font-size: 12px;
  color: #ff6700;
}
#footer .footer-center-right .server:hover {
  background-color: #ff6700;
}
#footer .footer-center-right .server:hover span {
  color: #fff;
}

.footer-bottom {
  padding: 40px 0;
  overflow: hidden;
}
.footer-bottom .bottom {
  overflow: hidden;
}
.footer-bottom-logo {
  float: left;
}
.footer-bottom-logo p {
  width: 55px;
  height: 55px;
  text-align: center;
  background-color: #ff6700;
}
.footer-bottom-logo p img {
  width: 55px;
  height: 55px;
}
.footer-bottom-info {
  padding: 0 5px;
  float: left;
  color: #757575;
  font-size: 12px;
}
.footer-bottom-info .info-title a {
  color: #757575;
  font-size: 12px;
}
.footer-bottom-info .info-title a:hover {
  color: #ff6700;
}
.footer-bottom-info .infos {
  color: #b0b0b0;
}
.footer-bottom-info .infos img {
  width: 85px;
}

.slogan {
  width: 100%;
  height: 30px;
  margin-top: 15px;
  background: url(../image/slogan2016.png) no-repeat center 0;
}

/*# sourceMappingURL=index.css.map */
